<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body style="background-color:grey;">
<a href="https://www.google.com">Search</a>
<img src="sprout.jpg" alt="dummycontent" style="width:200px;height:200px;">
<p style="background-color:aqua;">Using these text generators is very convenient, as you can set exactly how many paragraphs you need to fit your mock-up. These tools come in handy for any web designer out there. Keep reading more about this topic in this article created by our team at Amelia (probably the best WordPress scheduler plugin) and learn about dummy text generators and where to find the best ones.</p>
</body>
</html>